.account-label {
    display: block;
    top: 35px;
    font-size: 12px;
    right: 80px;
    position: absolute;
}

.user-profile-label {
    position: absolute;
    font-weight: bold;
    right: 80px;
}

.sidebar-wrapper {
    background: #292929;
}

/* TODO : avoid reset rules */
.sidebar .nav li > a {
    padding-left: 0;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.sidebar .nav li i {
    margin: 0px 15px;
}

/* TODO : avoid reset rules */
.nav-inside {
    margin-top: 0 !important;
}
/* Action buttons */
.ActionBtn {
    width: 25px;
    height: 24px;
    background: white;
    border: solid 1px #00ACC1;
    display: flex;
    justify-content: center;
}

.table-header .ActionBtn:last-child {
    margin-right: 0;
}

.ActionBtn i {
    color: dimgrey;
    font-size: 17px;
}

.table-header .ActionBtn:hover {
    background: #00ACC1;
}

.table-header .ActionBtn:hover i {
    color: white;
}

.table-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.table-header .ActionBtn {
    margin-right: 10px;
}

.table-header .btn-group {
    padding: 0;
}

.table-container {
    background: white;
    padding: 20px;
    border: solid 1px #e1e1e1;
    height: 78vh;
    overflow: auto;
}

/* Tables data */

.data {
}

.data tr td {
    color: #7d7d7d;
    font-size: 12px;
    padding: 8px;
}

tr td:last-child {
    text-align: -webkit-right;
}

.data tr:last-child {
    border-bottom: 1px solid rgb(236, 238, 239);
}

.data th:first-child,
.data td:first-child {
    padding-left: 0;
}

.data .dropdown {
    display: inline-block;
}

.dropbtn {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.dropdown-content {
    display: none;
    position: absolute;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 1;
    transform: translateX(-3em) translateY(-2em);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    opacity: 0.3;
}

.dropdown-content:hover {
    display: block;
}

