
body {
    background: #f6f6f6;
}

#login {
    background: white;
    width: 24%;
    position: relative;
    top: 260px;
    margin: auto;
    height: 190px;
    border: solid 1px #D9D9D9;
    border-radius: 1px;
    font-weight: unset !important;
}

label {
    font-weight: unset !important;
    margin-left: 25px;
}

#login > form div:first-child {
    font-size: 11px;
    margin-top: -10px;
}

#login > form div:nth-child(2) {
    font-size: 11px;
}

#login > form div:nth-child(3) {
    margin-top: 5px;
}

#login > form div:nth-child(4) {
    margin-top: -15px;
}

#login > form div:nth-child(4) button {
    font-weight: bold;
}

#login > form div:nth-child(4) button span {
    font-size: 8px;
}

.ActionBtn {
    background: white;
    border: solid 1px #00ACC1;
    color: dimgrey;
    font-weight: unset;
    width: 70px;
    padding: 4px 0 4px 0;
}

.ActionBtn:hover {
    background: #00ACC1;
    color: white;
}